<h2>Submit Feedback</h2>

<form method="post">
    <input name="Name" placeholder="Name" required />
    <br/><br/>
    <input name="Email" placeholder="Email" required />
    <br/><br/>
    <textarea name="Message" placeholder="Your feedback" required></textarea>
    <br/><br/>
    <button type="submit">Submit</button>
</form>

