@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to Feedback App</h1>

<p>Please choose an option:</p>

<br />

<a href="/Feedback/Create">
    <button>Give Feedback</button>
</a>

<br /><br />

<a href="/Feedback">
    <button>View Feedback List</button>
</a>

